{{!< default}}

<main class="gh-main gh-outer">
    {{#tag}}
        <section class="gh-article gh-inner">
            <header class="gh-article-header">
                <h1 class="gh-article-title"></h1>
                <ascii-banner text="{{name}}" font-url="{{asset "figs/Ivrit.flf"}}"></ascii-banner>
                {{#if description}}
                    <p class="gh-article-excerpt">{{description}}</p>
                {{/if}}
                {{> "feature-image"}}
            </header>
        </section>
    {{/tag}}
    <div class="gh-feed">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>
</main>