.gh-site {
    background: var(--background);
}

.has-background-about .gh-about-content {
    margin-top: 0px;
    max-width: 70%;
    margin-bottom: 20px;
}

.gh-site .has-background-about .gh-about:before {
    background: radial-gradient(circle, rgb(31, 25, 2) 18%, var(--background) 100%);
    position: fixed;
}

.ascii-art {
    white-space: pre;
    font-size: 0.8em;
    color: var(--text-color);
    text-shadow: 0 0 5px rgba(--bright-black, 1);
    overflow: hidden;
}

.gh-head-menu a {
    color: var(--bright-black);
    transition: all 0.3s ease-in;
}
.gh-head-menu a:hover {
    color: var(--background);
    background-color: var(--bright-green);
}
.gh-head-menu a:after:hover, .gh-head-menu a:before:hover {
    background-color: var(--background);
}
.gh-head-menu a:before, .gh-head-menu a:after {
    color: var(--bright-green);
    padding: 0;
}
.gh-head-menu a:before {
    content: "[";
}
.gh-head-menu a:after {
    content: "]";
}

.has-background-about .gh-about-inner {
    margin-top: 100px;
    align-items: flex-start;
    min-height: auto;
}

pre {
    padding: 0px;
    margin: 0 0 5px 0;
    background: transparent;
    overflow: hidden;
}


.gh-main.gh-outer {
    padding-top: 2px;

}

.has-classic-feed .gh-card-title {
    font-size: 18px;
}

.has-classic-feed .gh-card.no-image+.gh-card {
    margin-top: 0;
}

.gh-card-excerpt {
    color: var(--bright-black);
}




